{% extends 'frontend/base/base.html' %}
{% load humanize %}

{% block title %}
Newtonbookshop | {{blog.title}}
{% endblock title %}



{% block header %}
{% include 'frontend/components/header.html' %}
{% endblock header %}

{% block stylesheets %}
<link type="text/css" href="{{ ASSETS_ROOT }}/static/cpanel/assets/css/custom.css" rel="stylesheet">
{% endblock stylesheets %}


{% block content %}
<!-- ====== MAIN CONTENT ===== -->
<main id="content" role="main">
    <div class="mb-5 mb-lg-8 pb-xl-1">
        <div class="mb-5 mb-lg-8 pb-xl-1">
            <div class="page-header border-bottom">
                <div class="container">
                    <div class="d-md-flex justify-content-between align-items-center py-4">
                        {% comment %} <h1 class="page-title font-size-3 font-weight-medium m-0 text-lh-lg">Blog Detail
                        </h1> {% endcomment %}
                        <nav class="woocommerce-breadcrumb font-size-2">
                            <a href="{% url 'home' %}" class="h-primary">Home</a>
                            <span class="breadcrumb-separator mx-1"><i class="fas fa-angle-right"></i></span>
                            <span>{{blog.category}}</span>
                            <span class="breadcrumb-separator mx-1"><i class="fas fa-angle-right"></i></span>
                            <span> {{blog.title}}</span>

                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div>
                {% if messages %}

                {% for message in messages %}

                {% if message.tags == "success" %}
                <div class="alert alert-success" rol="alert">{{message}}</div>

                {% elif message.tags == "error" %}
                <div class="alert alert-danger" rol="alert">{{message}}</div>
                {% endif %}

                {% endfor %}

                {% endif %}
                <img class="img-fluid" src="{{ASSETS_ROOT}}/media/{{blog.blogimage}}" alt="Image-Description"
                    sizes="(max-width: 1400px) 100vw, 1400px" width="1400" height="650">

                <div class="max-width-940 mx-auto bg-white position-relative">
                    <div class=" mt-n10 mt-md-n13 pt-5 pt-lg-7 px-3 px-md-5 pl-xl-10 pr-xl-8">
                        <div class="ml-xl-4">
                            <div class="mb-5 mb-lg-7">
                                <div class="mb-2">
                                    <span class="font-size-2 text-primary">{{blog.category}}</span>
                                </div>
                                <h6 class="font-size-10 crop-text-2 font-weight-medium text-lh-1dot4">
                                    {{blog.title}}
                                </h6>
                                <div class="font-size-2 text-secondary-gray-700">
                                    <span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <polyline points="12 6 12 12 16 14"></polyline>
                                        </svg> {{blog.created_at|naturaltime}}</span>
                                    <span class="ml-3"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z">
                                            </path>
                                        </svg> {{blog.blog_comment_set.all.count}} comments</span>
                                </div>
                            </div>
                            {{blog.article|safe|linebreaks}}
                        </div>
                    </div>
                </div>

                <!-- End Images Carousel -->
                <div class="col-lg-9 mx-auto">
                    <div class="px-3 px-md-5 pl-xl-10 pr-xl-4">
                        <div class="ml-xl-4 pt-4">

                            <div class="border-bottom mb-5 pb-5">
                                <div class="d-flex ">
                                    <a class="btn d-flex align-items-center justify-content-center bg-gray-200 rounded-0 transition-3d-hover font-size-2 mr-2 height-38 width-80"
                                        href="../shop/v5.html">Books</a>

                                    <a class="btn d-flex align-items-center justify-content-center bg-gray-200 rounded-0 transition-3d-hover font-size-2 mr-2 height-38 width-110"
                                        href="../shop/v5.html">Romance</a>

                                    <a class="btn d-flex align-items-center justify-content-center bg-gray-200 rounded-0 transition-3d-hover font-size-2 mr-2 height-38 width-70"
                                        href="../shop/v5.html">Art</a>

                                    <a class="btn d-flex align-items-center justify-content-center bg-gray-200 rounded-0 transition-3d-hover font-size-2 mr-0 height-38 width-59"
                                        href="../shop/v5.html">Kids</a>
                                </div>
                            </div>
                            <div class="d-md-flex align-items-center mb-5">
                                <h6 class="font-weight-medium font-size-4 mb-5 mb-md-0 text-center text-lg-left">
                                    <span class="font-size-2 text-gray-600 font-weight-normal ml-1">Shares</span>
                                </h6>
                                <div class="ml-md-3 ml-xl-5 d-flex d-md-block  flex-column align-items-center">
                                    <a href="#"
                                        class="btn bg-facebook rounded-0 py-2 width-175 mb-3 mb-xl-0 mr-md-1 px-1">
                                        <span class="fab fa-facebook-f text-white mx-1"></span>
                                        <span class="text-white font-size-2">FACEBOOK</span>
                                    </a>
                                    <a href="https://twitter.com/intent/tweet?text={{blog.title}}&url=https://newtonbookshop.com/{{blog.get_absolute_url}}"
                                        target="_blank"
                                        class="btn bg-twitter rounded-0 py-2 width-175 mb-3 mb-xl-0 mr-md-1 px-1">
                                        <span class="fab fa-twitter text-white mx-1"></span>
                                        <span class="text-white font-size-2">TWITTER</span>
                                    </a>
                                    <a href="#"
                                        class="btn bg-pinterest rounded-0 py-2 width-175 mb-3 mb-md-0 mr-md-1 px-1">
                                        <span class="fab fa-pinterest text-white mx-1"></span>
                                        <span class="text-white font-size-2">PINTEREST</span>
                                    </a>

                                    <!-- <a href="#" class="btn bg-dark rounded-0 py-2 px-1">
                                        <span class="fas fa-plus text-white mx-2"></span>
                                    </a> -->
                                </div>
                            </div>


                            <h4 class="font-size-3 mb-5 mb-md-8 font-weight-medium">comments
                                ({{blog.blog_comment_set.all.count}})</h4>
                            <ul class="list-unstyled mb-5 mb-md-8">

                                {% for comments in  blog.blog_comment_set.all%}



                                <li class="mb-4 pb-5 border-bottom shadow p-4">
                                    <div class="d-md-flex align-items-center mb-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path d="M5.52 19c.64-2.2 1.84-3 3.22-3h6.52c1.38 0 2.58.8 3.22 3" />
                                            <circle cx="12" cy="10" r="3" />
                                            <circle cx="12" cy="12" r="10" /></svg>
                                        <h6 class="mb-2 mb-md-0 ml-2">{{comments.fullname}}</h6>
                                        <!-- <div class="text-yellow-darker ml-md-3">
                                            <small class="fas fa-star"></small>
                                            <small class="fas fa-star"></small>
                                            <small class="fas fa-star"></small>
                                            <small class="fas fa-star"></small>
                                            <small class="far fa-star"></small>
                                        </div> -->
                                    </div>
                                    <p class="mb-2 text-lh-md text-muted">{{comments.comment}}</p>
                                    <div class="text-gray-500 mb-4">{{comments.created_at|naturaltime}} </div>
                                    <ul class="nav">
                                        <!-- <li class="mr-5 mr-md-7">
                                            <a href="#" class="text-gray-600 d-flex align-items-center">
                                                <i class="text-dark font-size-5 flaticon-like-1"></i>
                                                <span class="ml-2">90</span>
                                            </a>
                                        </li>
                                        <li class="mr-5 mr-md-7">
                                            <a href="#" class="text-gray-600 d-flex align-items-center">
                                                <i class="text-dark font-size-5 flaticon-dislike"></i>
                                                <span class="ml-2">10</span>
                                            </a>
                                        </li>
                                        <li class="mr-5 mr-md-7">
                                            <a href="#" class="text-gray-600 d-flex align-items-center">
                                                <i class="text-dark font-size-5 flaticon-flag"></i>
                                            </a>
                                        </li> -->
                                    </ul>
                                </li>

                                {% endfor %}

                            </ul>
                            <hr>
                            <form action="" method="post">
                                {% csrf_token %}
                                <h4 class="font-size-3 mb-4">Write a Comment</h4>

                                <p class="font-size-sm text-muted">Your email address will not be published. Required
                                    fields are marked <span class="text-danger">*</span></p>
                                <div class="js-form-message form-group mb-4">
                                    <label for="descriptionTextarea" class="form-label text-dark h6 mb-3">Comment
                                        *</label>
                                    {{form.comment}}
                                </div>

                                <div class="form-group mb-5">
                                    <label for="inputCompanyName" class="form-label text-dark h6 mb-3">Fll name
                                        *</label>
                                    {{form.fullname}}
                                </div>

                                <div class="form-group mb-5">
                                    <label for="inputCompanyName" class="form-label text-dark h6 mb-3">Email *</label>
                                    {{form.email}}
                                </div>

                                <div class="d-flex">
                                    <button type="submit"
                                        class="btn btn-dark btn-wide rounded-0 transition-3d-hover">Submit
                                        Review</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- ====== END MAIN CONTENT ===== -->
{% endblock content %}



{% block javascripts %}

{% endblock javascripts %}