{% extends 'frontend/base/base.html' %}
{% load humanize %}
{% load poll_extras %}


{% block title %}
Newtonbookshop | Blog
{% endblock title %}



{% block header %}
{% include 'frontend/components/header.html' %}
{% endblock header %}

{% block stylesheets %}
<link type="text/css" href="{{ ASSETS_ROOT }}/static/cpanel/assets/css/custom.css" rel="stylesheet">
{% endblock stylesheets %}


{% block content %}

<!-- ====== MAIN CONTENT ===== -->
<main id="content">
    <div class="mb-5 mb-lg-8 pb-xl-1">
        <div class="mb-5 mb-lg-8 pb-xl-1">
            <div class="page-header border-bottom">
                <div class="container">
                    <div class="d-md-flex justify-content-between align-items-center py-4">
                        <h1 class="page-title font-size-3 font-weight-medium m-0 text-lh-lg">Blog</h1>
                        <nav class="woocommerce-breadcrumb font-size-2">
                            <a href="{% url 'home' %}" class="h-primary">Home</a>
                            <span class="breadcrumb-separator mx-1"><i class="fas fa-angle-right"></i></span>
                            <span>Blog</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container change_container">
            <div class="row mb-lg-4 mb-xl-0">
                <div class="col-lg-3 col-xl-3 mb-7">
                    <div id="SidebarAccordion">
                        <div id="Search" class="widget p-4 border">
                            <div id="Heading21">
                                <a class="d-flex align-items-center justify-content-between collapse-link text-dark"
                                    href="#" data-toggle="collapse" data-target="#Collapse21" aria-expanded="true"
                                    aria-controls="Collapse21">

                                    <h3 class="title mb-0 font-weight-medium font-size-3">Search</h3>

                                    <svg class="minus" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="2px">
                                        <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                                            d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z" />
                                    </svg>

                                    <svg class="plus" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
                                        <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                                            d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z" />
                                    </svg>
                                </a>
                            </div>

                            <div id="Collapse21" class="mt-4 collapse show" aria-labelledby="Heading21"
                                data-parent="#SidebarAccordion">
                                <form class="form-inline my-2 my-xl-0 overflow-hidden" method="get">
                                    <div class="input-group flex-nowrap w-100">
                                        <!-- {% csrf_token %} -->
                                        <div class="input-group-prepend">
                                            <i
                                                class="glph-icon flaticon-loupe py-2d75 bg-white-100 border-white-100 text-dark pl-3 pr-0 rounded-0"></i>
                                        </div>
                                        <input
                                            class="form-control bg-white-100 py-2d75 height-4 border-white-100 rounded-0"
                                            type="search" placeholder="Search" aria-label="Search" name="q">
                                    </div>
                                    <button class="btn btn-outline-success my-2 my-sm-0 sr-only"
                                        type="submit">Search</button>
                                </form>
                            </div>
                        </div>

                        <div id="Categories" class="widget p-4 border">
                            <div id="Heading22">
                                <a class="d-flex align-items-center justify-content-between collapse-link text-dark"
                                    href="#" data-toggle="collapse" data-target="#Collapse22" aria-expanded="false"
                                    aria-controls="Collapse22">

                                    <h3 class="title mb-0 font-weight-medium font-size-3">Categories</h3>

                                    <svg class="minus" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="2px">
                                        <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                                            d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z" />
                                    </svg>

                                    <svg class="plus" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
                                        <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                                            d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z" />
                                    </svg>
                                </a>
                            </div>

                            <div id="Collapse22" class="mt-4 collapse" aria-labelledby="Heading22"
                                data-parent="#SidebarAccordion">


                                {% for category in categories %}

                                <a class="form-group d-flex align-items-center justify-content-between font-size-2 text-lh-md mb-3"
                                    href="/blog/?categorie={{category}}">

                                    <span class="text-dark">{{category}}</span>
                                    <small class="text-gray-600">{{forloop.counter}}</small>
                                </a>
                                {% endfor %}




                                <!-- View More - Collapse -->
                                <!-- <div class="collapse" id="collapseBrand">
                                    <a class="form-group d-flex align-items-center justify-content-between font-size-2 text-lh-md mb-3"
                                        href="../blog/blog-v1.html">
                                        <span class="text-dark">Outdoors</span>
                                        <small class="text-gray-600">5</small>
                                    </a>
                                    <a class="form-group d-flex align-items-center justify-content-between font-size-2 text-lh-md mb-3"
                                        href="../blog/blog-v1.html">
                                        <span class="text-dark">Travel</span>
                                        <small class="text-gray-600">55</small>
                                    </a>
                                </div> -->
                                <!-- End View More - Collapse -->

                                <!-- Link -->
                                <!-- <a class="link link-collapse small font-size-1" data-toggle="collapse"
                                    href="#collapseBrand" role="button" aria-expanded="false"
                                    aria-controls="collapseBrand">
                                    <span class="link__icons">
                                        <span class="link__icon-inner font-size-2">+</span>
                                    </span>
                                    <span class="link-collapse__default font-size-2">Shop more</span>
                                </a> -->
                                <!-- End Link -->
                            </div>
                        </div>

                        <div id="RecentPosts" class="widget p-4 border">
                            <div id="Heading23">
                                <a class="d-flex align-items-center justify-content-between collapse-link text-dark"
                                    href="#" data-toggle="collapse" data-target="#Collapse23" aria-expanded="false"
                                    aria-controls="Collapse23">

                                    <h3 class="title font-weight-medium font-size-3 mb-0">Recent Posts</h3>

                                    <svg class="minus" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="2px">
                                        <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                                            d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z" />
                                    </svg>

                                    <svg class="plus" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
                                        <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                                            d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z" />
                                    </svg>
                                </a>
                            </div>

                            <div id="Collapse23" class="mt-4 collapse" aria-labelledby="Heading23"
                                data-parent="#SidebarAccordion">


                                {% for recent in recent_post %}

                                <div class="d-flex mb-5">
                                    <a class="d-block" href="{{recent.get_absolute_url}}">
                                        <img data-src="{{ASSETS_ROOT}}/media/{{recent.blogthumbnail}}"
                                            class="img-fluid height-80 max-width-80" alt="{{recent.title}}">
                                    </a>
                                    <div class="ml-3">
                                        <h6 class="font-size-2 mb-1">
                                            <a href="{{recent.get_absolute_url}}">{{recent.title}}</a>
                                        </h6>
                                        <span class="font-size-2 text-secondary-gray-700">{{recent.created_at}}</span>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-9">








                    <div class="row mb-4 p-0">

                        {% if blog.count > 0 %}
                        {% for blogpost in blog %}
                        <div class="col-lg-4 mb-3 col-md-6">
                            <div class="card-deck">
                                <div class="card">
                                    <a href="{{blogpost.get_absolute_url}}"><img class="card-img-top" max-height=""
                                            src="{{ASSETS_ROOT}}/media/{{blogpost.blogthumbnail}}"
                                            alt="{{blogpost.title}}"></a>
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-size:16px!important;"><a
                                                href="{{blogpost.get_absolute_url}}">{{blogpost.title}}</a></h5>
                                        <p class="card-text " style="font-size:13px!important;">
                                            <a href="{{blogpost.get_absolute_url}}" class="text-muted">
                                                {{blogpost.article|safe|safe|truncatechars:90}}</a></p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">{{blogpost.created_at|naturaltime}}</small> <small
                                            class="text-muted ml-2">{{blogpost.blog_comment_set.all.count}}
                                            comments</small>
                                    </div>
                                </div>

                            </div>
                        </div>
                        {% endfor %}

                        {% else %}

                        <div class="text-center mt-5 empty_seach_result" style="margin:0 auto;">

                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24"
                                fill="none" stroke="gray" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <circle cx="11" cy="11" r="8"></circle>
                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                            </svg>

                            <h4 class="text-muted text-center mt-4"> Sorry we couldn't find any results</h4>
                            <p class="text-muted">Make sure all the words are spelled correctly, try to refine your
                                keywords</p>
                        </div>
                        {% endif %}


                    </div>



                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul
                    class="pagination pagination__custom justify-content-md-center flex-nowrap flex-md-wrap overflow-auto overflow-md-visble">

                    {% if page_obj.has_previous %}
                    <li class="flex-shrink-0 flex-md-shrink-1 page-item active"><a class="page-link"
                            href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}


                    {% for i in page_obj.paginator.num_pages|get_range %}
                    <li
                        class="flex-shrink-0 flex-md-shrink-1 page-item {% if page_obj.number == i %} active {% endif %}">
                        <a class="page-link" href="?page={{i}}">{{i}}</a></li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="flex-shrink-0 flex-md-shrink-1 page-item active"><a class="page-link"
                            href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    {% endif %}

                </ul>
            </nav>
        </div>
    </div>
</main>
<!-- ====== END MAIN CONTENT ===== -->

{% endblock content %}



{% block javascripts %}

{% endblock javascripts %}