{% extends 'frontend/base/base.html' %}


{% block title %}
newtonbookshop | login
{% endblock title %}



{% block header %}
{% include 'frontend/components/header.html' %}
{% endblock header %}

{% block stylesheets %}
<link type="text/css" href="{{ ASSETS_ROOT }}/static/cpanel/assets/css/custom.css" rel="stylesheet">
{% endblock stylesheets %}






{% block content %}

{% include 'cpanel/includes/error.html' %}

<br>
<div class="col-lg-4 col-md-6 col-sm-4 shadow mb-8" style="margin: 0 auto;overflow-y:hidden;">


    <div class="u-header-sidebar__footer-offset">
        <!-- Toggle Button -->
        <!-- Content -->
        <div class="">
            <div class="u-sidebar__content u-header-sidebar__content">
                <form class="">
                    <!-- Login -->
                    <div id="login" data-target-group="idForm">
                        <!-- Title -->
                        <header class="border-bottom px-4 px-md-6 py-4">
                            <h2 class="font-size-3 mb-0 d-flex align-items-center"><i
                                    class="flaticon-user mr-3 font-size-5"></i>Account</h2>
                        </header>
                        <!-- End Title -->

                        <div class="p-4 p-md-6">
                            <!-- Form Group -->
                            <div class="form-group mb-2">
                                <div class="js-form-message js-focus-state">
                                    <label id="signinEmailLabel" class="form-label" for="signinEmail">Email
                                        *</label>
                                    <input type="email" class="form-control rounded-0 height-4 px-4" name="email"
                                        id="signinEmail" placeholder="Enter your email"
                                        aria-label="creativelayers088@gmail.com" aria-describedby="signinEmailLabel"
                                        required>
                                </div>
                            </div>
                            <!-- End Form Group -->

                            <!-- Form Group -->
                            <div class="form-group mb-2">
                                <div class="js-form-message js-focus-state">
                                    <label id="signinPasswordLabel" class="form-label" for="signinPassword">Password
                                        *</label>
                                    <input type="password" class="form-control rounded-0 height-4 px-4" name="password"
                                        id="signinPassword" placeholder="Enter your password" aria-label=""
                                        aria-describedby="signinPasswordLabel" required>
                                </div>
                            </div>
                            <!-- End Form Group -->

                            <div class="d-flex justify-content-between mb-5 align-items-center">
                                <!-- Checkbox -->
                                <div class="js-form-message">
                                    <div class="custom-control custom-checkbox d-flex align-items-center text-muted">
                                        <input type="checkbox" class="custom-control-input" id="termsCheckbox"
                                            name="termsCheckbox" required>
                                        <label class="custom-control-label" for="termsCheckbox">
                                            <span class="font-size-2 text-secondary-gray-700">
                                                Remember me
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <!-- End Checkbox -->

                                <a class="js-animation-link text-dark font-size-2 t-d-u link-muted font-weight-medium"
                                    href="#" data-target="#forgotPassword" data-link-group="idForm"
                                    data-animation-in="fadeIn">Forgot Password?</a>
                            </div>

                            <div class="mb-4d75">
                                <button type="submit" class="btn btn-block py-3 rounded-0 btn-dark">Sign In</button>
                            </div>

                            <div class="mb-2">
                                Don't have an account ?<a href="{% url 'signup' %}"
                                    class=""
                                    data-target="{% url 'signup' %}" data-link-group="idForm" data-animation-in="fadeIn"> Create
                                    Account</a>
                            </div>
                            {% comment %} <div class="mb-2">
                                <a href="javascript:;"
                                    class="js-animation-link btn btn-block py-3 rounded-0 btn-outline-dark font-weight-medium"
                                    data-target="#signup" data-link-group="idForm" data-animation-in="fadeIn">Create
                                    Account</a>
                            </div>
                            <div class="mb-2">
                                <a href="javascript:;"
                                    class="js-animation-link btn btn-block py-3 rounded-0 btn-outline-dark font-weight-medium"
                                    data-target="#signup" data-link-group="idForm" data-animation-in="fadeIn">Create
                                    Account</a>
                            </div> {% endcomment %}
                        </div>
                    </div>


                </form>
            </div>
        </div>
        <!-- End Content -->
    </div>

</div>


{% endblock content %}



{% block javascripts %}
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"
    type="text/javascript"></script>
<script src="{{ASSETS_ROOT}}/static/assets/js/bookdetails.js"></script> {% endcomment %}
{% endblock javascripts %}