{% extends 'frontend/account/account_base.html' %}
{% load poll_extras %}


{% block account_title %}
newtonbookshop | My orders
{% endblock account_title %}


{% block account_content %}

<div class="col-md-9">

    <div class="tab-content" id="pills-tabContent">
        <div>
            <div class="pt-5 pl-md-5 pt-lg-8 pl-lg-9 space-bottom-lg-2 mb-lg-4"  style="padding-left:0px!important">
                <h6 class="font-weight-medium font-size-7 ml-lg-1 mb-lg-8 pb-xl-1">My orders</h6>
                <table class="table">
                    <thead>
                        <tr class="border">
                            <th scope="col" class="py-3 border-bottom-0 font-weight-medium pl-3 pl-lg-5">Order</th>
                            <th scope="col" class="py-3 border-bottom-0 font-weight-medium">Date</th>
                            <th scope="col" class="py-3 border-bottom-0 font-weight-medium">Status</th>
                            <th scope="col" class="py-3 border-bottom-0 font-weight-medium">Total</th>
                            <th scope="col" class="py-3 border-bottom-0 font-weight-medium">Actions</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for order in account_orders %}
                        <tr class="border">
                            <th class="pl-3 pl-md-5 font-weight-normal align-middle py-6">#{{order.orderid}}</th>
                            <td class="align-middle py-5">{{order.created_at}}</td>
                            <td class="align-middle py-5">
                                {% if order.status == "pending" %}
                                <span class="text-white p-1 bg-info rounded" > {{order.status}}</span>
                                {% elif order.status == "delivered" or order.status == "confirmed" %}
                                <span class="text-white bg-success rounded p-1"> {{order.status}}</span>
                                {% elif order.status == "canceled"%}
                                <span class="text-white bg-danger rounded p-1"> {{order.status}}</span>
                                {% endif %}
                            </td>
                            <td class="align-middle py-5">
                                <span class="text-primary">GHS {{order.amount}}</span> for
                                {{order.order_book_set.all.count}} items</td>
                            <td class="align-middle py-5">
                                <div class="d-flex justify-content-center">
                                    <a href="{% url 'account_order_views' order.orderid %}">
                                        <button type="submit"
                                            class="btn btn-dark rounded-0 btn-wide font-weight-medium">View
                                        </button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock account_content %}