{% extends 'frontend/account/account_base.html' %}
{% load poll_extras %}


{% block account_title %}
newtonbookshop | My orders
{% endblock account_title %}


{% block account_content %}

<div class="col-md-9"> 

    <div class="tab-content" id="pills-tabContent">

        
       
        <div class="order-desktop-view">
            <div class="pt-5 pl-md-5 pt-lg-8 pl-lg-9 space-bottom-lg-2 mb-lg-4"  style="padding-left:0px!important">
                <h6 class="font-weight-medium font-size-7 ml-lg-1 mb-lg-8 pb-xl-1">My orders</h6>
                 {% if account_orders.count > 0 %}
                 <table class="table">
                    <thead>
                        <tr class="border">
                            <th scope="col" class="py-3 border-bottom-0 font-weight-medium pl-3 pl-lg-5">Order</th>
                            <th scope="col" class="py-3 border-bottom-0 font-weight-medium">Date</th>
                            <th scope="col" class="py-3 border-bottom-0 font-weight-medium">Status</th>
                            <th scope="col" class="py-3 border-bottom-0 font-weight-medium">Total</th>
                            <th scope="col" class="py-3 border-bottom-0 font-weight-medium">Actions</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for order in account_orders %}
                        <tr class="border">
                            <th class="pl-3 pl-md-5 font-weight-normal align-middle py-6">#{{order.orderid}}</th>
                            <td class="align-middle py-5">{{order.created_at}}</td>
                            <td class="align-middle py-5">
                                {% if order.status == "pending" %}
                                <span class="text-white p-1 bg-info rounded" > {{order.status}}</span>
                                {% elif order.status == "delivered" or order.status == "confirmed" %}
                                <span class="text-white bg-success rounded p-1"> {{order.status}}</span>
                                {% elif order.status == "canceled"%}
                                <span class="text-white bg-danger rounded p-1"> {{order.status}}</span>
                                {% endif %}
                            </td>
                            <td class="align-middle py-5">
                                <span class="text-primary">GHS {{order.amount}}</span> for
                                {{order.order_book_set.all.count}} items</td>
                            <td class="align-middle py-5">
                                <div class="d-flex justify-content-center">
                                    <a href="{% url 'account_order_views' order.orderid %}">
                                        <button type="submit"
                                            class="btn btn-dark rounded-0 btn-wide font-weight-medium">View
                                        </button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
                 {% else %}
                 <div class="empty_value text-center p-5">

                    <img src="/static/assets/img/icon/shopping-bag.png" alt="shopping-cart icon" class="mb-4"> 
                    <p ><b>You have placed no orders yet!</b></p>

                    <p>All your orders will be saved here for you to access their state  <br>anytime.
                    </p>

                    <a href="{% url 'shop' %}" class="btn k py-3 rounded-0 btn-dark" >Continue Shopping</a>
                    
                    
                </div>
        {% endif %}
            </div>
        </div>
        
            
            

        <div class="order-mobile-details">
            <div class="card mb-4 p-0 border-0">
                <div class="card-header border-0 mb-2">
                    <a href="{% url 'account' %}" class="back-btn mr-2">
                        <i class="fas fa-arrow-left text-dark"></i>
                        {% comment %} <span>Back</span> {% endcomment %}
                      </a>
                      
                   <span>  Your orders</span>
                    <div class="" style="float:right;">
                        {% comment %} <button class="btn btn-sm btn-dark">Track order</button> {% endcomment %}
                    </div>
                </div>
                <div class="card-body p-0">

                    
                {% if account_orders.count > 0 %}
                    
                {% for order in account_orders %}

                
                {% comment %} {% for books in order.order_book_set.all.0 %} {% endcomment %}
                    
                <div class="d-flex align-items-center mb-4 shadow-sm">
                    {% comment %} <a href="#">
                        <img src="{{ASSETS_ROOT}}/media/thumbnail/{{order.order_book_set.all.0.bookthumbnail}}"
                            class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="bookimage"
                            width="80" height="120">
                    </a> {% endcomment %}
                    <div class="ml-3 m-w-200-lg-down p-2">
                        <a
                            href="{% url 'account_order_views' order.orderid %}" class="text-dark" style="font-size:13px;"><b>Order Id :</b> #{{order.orderid}}</a>
                        <a href="{% url 'account_order_views' order.orderid %}"
                            class="text-gray-700 font-size-2 d-block pt-1 pb-1" tabindex="0"><span class=""><b>Placed on :</b> </span>{{order.created_at}}</a>

                        {% comment %} <a href="{% url 'book-detail' books.bookslug books.product_id  %}"
                            class="text-gray-700 font-size-2 d-block" tabindex="0">{{books.booktype}}</a> {% endcomment %}
                        <a href="#" class="text-gray-700 font-size-2 d-block" tabindex="0">
                            <b>status:</b>
                            {% if order.status == "pending" %}
                            <span class="p-1 bg-info text-white rounded" style="font-size:
                            11px">PENDING CONFIRMATION</span>
                            {% elif order.status == "confirmed" %}
                            <span class="p-1 bg-info text-white rounded" style="font-size:
                            11px">OUT FOR DELIVERY</span>
                            {% elif order.status == "delivered" %}
                            <span class="p-1 bg-success text-white rounded" style="font-size:
                            11px">DELIVERED </span>
                            {% elif order.status == "canceled" %}
                            <span class="p-1 bg-danger text-white rounded" style="font-size:
                            11px">CANCELED</span>
                            {% endif %}
                        </a>
                    </div>
                </div>
                {% comment %} {% endfor %} {% endcomment %}
                    
                {% comment %} </td> {% endcomment %}
                {% endfor %}

                {% else %}

                 <div class="empty_value text-center p-7">

                    <img src="/static/assets/img/icon/shopping-bag.png" alt="shopping-cart icon" class="mb-4"> 
                    <p class="text-muted"><b>You have placed no orders yet!</b></p>

                    <p><small> All your orders will be saved here for you to access their state  anytime.</small>
                    </p>

                    <a href="{% url 'shop' %}" class="btn k py-3 rounded-0 btn-dark" >Continue Shopping</a>
                    
                    
                </div>
                        
                    {% endif %}


                </div>
            </div>
        </div>
    </div>
</div>

{% endblock account_content %}