{% extends 'frontend/account/account_base.html' %}


{% block account_title %}
newtonbookshop | Wishlist
{% endblock account_title %}


{% block account_content %}

<div class="col-md-9">
    <div class="tab-content" id="pills-tabContent">
        <div>

            {% if wishlist.count > 0  %}
            <div class="pt-5 pl-md-5 pt-lg-8 pl-lg-9 space-bottom-lg-3 " style="padding-left:0px!important">
                {% if messages %}

                {% for message in messages %}

                {% if message.tags == "success" %}

                <div class="alert alert-success">
                    <strong><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg></strong> {{message}}
                </div>
                {% else %}
                <div class="alert alert-danger">
                    <strong><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round">
                            <polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2">
                            </polygon>
                            <line x1="12" y1="8" x2="12" y2="12"></line>
                            <line x1="12" y1="16" x2="12.01" y2="16"></line>
                        </svg></strong> {{message}}
                </div>
                {% endif %}


                {% endfor %}

                {% endif %}
                <h6 class="font-weight-medium font-size-7 ml-lg-1 mb-lg-8 pb-xl-1">Wishlist</h6>
                <table class="table mb-0">
                    <thead>
                        <tr class="border">
                            <th scope="col" class="py-3 border-bottom-0 font-weight-medium pl-3 pl-md-5">Prouct</th>
                            <th scope="col" class="py-3 border-bottom-0 font-weight-medium">Price</th>
                            {% comment %} <th scope="col" class="py-3 border-bottom-0 font-weight-medium">Stock Status
                            </th> {% endcomment %}
                            <th scope="col" class="py-3 border-bottom-0 font-weight-medium">Actions</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for item in wishlist %}

                        <tr class="border">
                            <th class="pl-3 pl-md-5 font-weight-normal align-middle py-3">
                                <div class="d-flex align-items-center">
                                    <a class="d-block" href="{% url 'book-detail' item.bookslug item.product_id  %}">
                                        <img class="img-fluid"
                                            src="{{ASSETS_ROOT}}/media/thumbnail/{{item.bookthumbnail}}"
                                            alt="Image-Description" style="height:100px;width:70px;">
                                    </a>
                                    <div class="ml-xl-4">
                                        <div class="font-weight-normal">
                                            <a href="{% url 'book-detail' item.bookslug item.product_id  %}"
                                                style="font-size:14px;">{{item.booktitle|slice:"50"}}</a>
                                        </div>
                                        <div class="font-size-2"><a
                                                href="{% url 'book-detail' item.bookslug item.product_id %}"
                                                class="text-gray-700" tabindex="0">{{item.bookauthor}}</a></div>
                                        <div class="font-size-2"><a
                                                href="{% url 'book-detail' item.bookslug item.product_id %}"
                                                class="text-gray-700" tabindex="0">{{item.booktype}}</a></div>
                                    </div>
                                </div>
                            </th>
                            <td class="align-middle py-5">GHS {{item.bookprice}}</td>
                            {% comment %} <td class="align-middle py-5">In Stock</td> {% endcomment %}
                            <td class="align-middle py-5">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="wishlistpk" value="{{item.pk}}">
                                    <button type="submit"
                                        class="btn btn-sm btn-dark rounded-0 btn-wide font-weight-medium text-center"
                                        name="user_account_add_to_cart">ADD TO CART</button>
                                    <!-- <span class=""
                                        style="cursor:pointer">ADD TO CART</span> -->
                                </form>
                            </td>
                        </tr>
                        {% endfor %}


                    </tbody>
                </table>
            </div>
            {% else %}

            <div class="text-center" style="margin-top:20vh;">

                <img src="{{ASSETS_ROUTE}}/static/assets/img/icon/wishlist.png" alt="wishlist">
                <p class="text-muted pt-3 ">No products in your wishlist.</p>
            </div>
            {% endif %}

        </div>
    </div>
</div>

{% endblock account_content %}