{% extends 'frontend/base/base.html' %}


{% block title %}
newtonbookshop | reset password complete
{% endblock title %}



{% block header %}
{% include 'frontend/components/header.html' %}
{% endblock header %}


{% block content %}
<br>
<div class="col-lg-4 col-md-6 col-sm-6 border mb-8 mt-6 p-5" style="margin: 0 auto;">


    <div class="u-header-sidebar__footer-offset">
        <!-- Toggle Button -->
        <!-- Content -->
        <div class="">
            <div class="u-sidebar__content u-header-sidebar__content text-center">
                <img src="/static/assets/img/order/success.png" height="100" width="100" alt="" srcset="">
                <h4 class=" pt-4 pt-4">Password reset complete </h4>
                <p><small>Your password has been set. you may go ahead and log in now. </small> </p>

                <a href="{% url 'login' %}" class="btn btn-dark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M15 3h6v18h-6M10 17l5-5-5-5M13.8 12H3" /></svg>
                    Login</a>

            </div>
        </div>
        <!-- End Content -->
    </div>

</div>
<script>
    var emailInput = document.getElementById("id_email")
    emailInput.classList.add("form-control", "rounded-0", "height-4", "px-4")
    emailInput.placeholder = "Enter your email"
</script>

{% endblock content %}



{% block javascripts %}

{% endblock javascripts %}