{% extends 'frontend/base/base.html' %}


{% block title %}
newtonbookshop | reset password confirm
{% endblock title %}



{% block header %}
{% include 'frontend/components/header.html' %}
{% endblock header %}


{% block content %}
<br>
<div class="col-lg-4 col-md-6 col-sm-6 border mb-8 mt-6 p-5" style="margin: 0 auto;">


    <div class="u-header-sidebar__footer-offset">
        <!-- Toggle Button -->
        <!-- Content -->
        <div class="">
            <div class="u-sidebar__content u-header-sidebar__content text-left">



                {% if form %}
                <h2 class=" pt-4 pb-4">Reset your password </h2>
                <p> Please enter your new password twice so we can verify you typed it in correctly</p>
                <form method="post">
                    {% csrf_token %}
                    <!-- Form Group -->
                    <div class="form-group mb-2">
                        <div class="js-form-message js-focus-state">
                            <label id="signinPasswordLabel" class="form-label" for="signinPassword">New Password
                                *</label>

                            {{form.new_password1}}
                            {% if form.new_password1.errors %}
                            <small class="text-danger">{{ form.new_password1.errors.0  }}</small>
                            {% endif %}

                        </div>
                    </div>


                    <!-- Form Group -->
                    <div class="form-group mb-2">
                        <div class="js-form-message js-focus-state">
                            <label id="signinPasswordLabel" class="form-label" for="signinPassword">New password
                                confirmation
                                *</label>
                            {{form.new_password2}}
                            {% if form.new_password2.errors %}
                            <small class="text-danger">{{ form.new_password2.errors.0  }}</small>
                            {% endif %}
                        </div>
                    </div>


                    <div>
                        <button type="submit" class="btn btn-block py-3 rounded-0 btn-dark">Reset Password</button>
                    </div>
                </form>
                {% else %}

                <div class="text-center">
                    <img src="/static/assets/img/order/error.png" height="100" width="100" alt="" srcset=""
                        class="mb-2">
                    <h4 class=" text-danger">Invalid !!</h4>
                    <p>This link is invalid or expired please request new email</p>
                    <a href="{% url 'login' %}" class="btn btn-dark ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M15 3h6v18h-6M10 17l5-5-5-5M13.8 12H3" /></svg> Login</a>
                </div>


                {% endif %}

            </div>
        </div>
        <!-- End Content -->
    </div>

</div>

{% endblock content %}



{% block javascripts %}

<script src="{{ASSETS_ROOT}}/static/assets/js/password_reset.js"></script>


{% endblock javascripts %}