{% extends 'frontend/base/base.html' %}


{% block title %}
newtonbookshop | reset password done
{% endblock title %}



{% block header %}
{% include 'frontend/components/header.html' %}
{% endblock header %}


{% block content %}
<br>
<div class="col-lg-4 col-md-6 col-sm-6 border mb-8 mt-6 p-5" style="margin: 0 auto;">


    <div class="u-header-sidebar__footer-offset">
        <!-- Toggle Button -->
        <!-- Content -->
        <div class="">
            <div class="u-sidebar__content u-header-sidebar__content text-left">

                <h2 class=" pt-4 pt-4">Password reset sent </h2>
                <p><small>We've emailed you instructions for setting your password. If and account exists with the email you entered. You should  receive them shortly. If you don't receive an email, please make sure you'v entered the address you register with, and check your spam folder </small> </p>
              
            </div>
        </div>
        <!-- End Content -->
    </div>

</div>
<script>
    var emailInput = document.getElementById("id_email")
    emailInput.classList.add("form-control", "rounded-0", "height-4", "px-4")
    emailInput.placeholder = "Enter your email"
</script>

{% endblock content %}



{% block javascripts %}

{% endblock javascripts %}