{% extends 'frontend/base/base.html' %}


{% block title %}
newtonbookshop | reset password
{% endblock title %}



{% block header %}
{% include 'frontend/components/header.html' %}
{% endblock header %}


{% block content %}
<br>
<div class="col-lg-4 col-md-6 col-sm-6 border mb-8 mt-6 p-5" style="margin: 0 auto;">


    <div class="u-header-sidebar__footer-offset">
        <!-- Toggle Button -->
        <!-- Content -->
        <div class="">
            <div class="u-sidebar__content u-header-sidebar__content text-left">

                <h2 class=" pt-4 pb-4">Reset your password </h2>
                <p>Lost your password ? Please enter your email address. You will receive a link to create a new
                    password via email. </p>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                        {% for field in form %}

                        <div class="js-form-message js-focus-state">
                            <label id="signinEmailLabel" class="form-label" for="signinEmail">Email address *</label>

                            <input type="email" name="email" id="email" class="form-control rounded-0 height-4 px-4"
                                placeholder="Enter your email">

                            <!-- {{ field }} -->
                            {% if field.errors %}
                            <small>{{ field.errors|striptags  }}</small>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>


                    <div class="mb-4d75 text-center mt-4">
                        <button type="submit" class="btn btn-block py-3 rounded-0 btn-dark">Reset Password</button>
                    </div>


                </form>
            </div>
        </div>
        <!-- End Content -->
    </div>

</div>

{% endblock content %}



{% block javascripts %}

{% endblock javascripts %}