{% extends "cpanel/layouts/base.html" %}

{% block title %} Orders in progress {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">

    <div class="d-block mb-4 mb-md-0">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="#">
                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="{% url 'cpanel_dashboard' %}">home</a></li>
                <li class="breadcrumb-item active" aria-current="page">orders in progress</li>
            </ol>
        </nav>
        <h2 class="h4">Orders in progress </h2>
        <p class="mb-0">Recent uncompleted orders</p>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
        {% include 'cpanel/includes/error.html' %}
    </div>
   
</div>


<div class="card card-body border-0 shadow table-wrapper table-responsive">
    
    {% if order_in_progress.count > 0 %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="border-gray-200">Order ID</th>
                <th class="border-gray-200">book title</th>
                <th class="border-gray-200">Payment Method</th>						
                <th class="border-gray-200">Created On</th>
                <th class="border-gray-200">Total</th>
                <th class="border-gray-200">Status</th>
                <th class="border-gray-200">Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Item -->
            
            {% for order in order_in_progress %}
            <tr>
                <td>
                    <a href="#" class="fw-bold ">
                       <a href="{{order.get_absolute_url}}"><b>{{order}}</b></a>
                    </a>
                </td>
                <td><span class="fw-normal">

                    
                    {% for orderbook in order.order_book_set.all %}
                        <small> {{orderbook|truncatechars:40}}</small><br>
                    {% endfor %}
                        
                </span></td>  
                <td>
                    <span class="fw-normal">
                        {% if order.payment_method == "pay_with_cash_on_delivery" %}
                            <span class="text-light rounded-1 shadow p-2 bg-warning">Cash on delivery</span>
                         {% else %}
                          <span class="text-success rounded-1 shadow p-2 bg-warning">Paid online</span>
                        {% endif %}
                            
                    </span>
                </td>
                                     
                <td><span class="fw-normal">{{order.created_at}}</span></td>
                <td><span class="fw-bold">GHS {{order.amount}}</span></td>
                <td><span class="fw-bold text-white rounded-1 shadow p-2 bg-info ">{{order.status|capfirst}}</span></td>
                <td class="text-center">
                    <div class="btn-group">
                        <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="14 2 18 6 7 17 3 17 3 13 14 2"></polygon><line x1="3" y1="22" x2="21" y2="22"></line></svg>
                        </button>

                        <div class="dropdown-menu py-0">
                            <a class="dropdown-item rounded-top" href="{{order.get_absolute_url}}"><span class="fas fa-eye me-2"></span>View Details</a>
                           
                            <form method="post" action="{{order.get_absolute_url}}">
                                {% csrf_token %}

                                <input type="hidden" name="orderid" value="{{order}}">
                                <button name="complete_order" class="dropdown-item bg-white text-success border-0" style="margin-left:10px!important;"> Complete Order</button>

                                {% comment %} <button name="cancel_order" class="dropdown-item bg-white text-danger border-0" style="margin-left:10px!important;"> Cancel</button> {% endcomment %}
                            </form> 
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
                
            <!-- Item -->                           
        </tbody>
    </table>
    {% else %}
        <p class="text-center text-muted p-4">No data available </p>
    {% endif %}
        
    <br>
    
    {% if order_in_progress.count > 0 %}
    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between mt-5">
        <nav aria-label="Page navigation example">
            <ul
            class="pagination pagination__custom justify-content-md-center flex-nowrap flex-md-wrap overflow-auto overflow-md-visble">
            
            {% if page_obj.has_previous %}
            <li class="flex-shrink-0 flex-md-shrink-1 page-item active"><a class="page-link"
                href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
            
            {% load poll_extras %}
            {% for i in page_obj.paginator.num_pages|get_range %}
            
            <li
            class="flex-shrink-0 flex-md-shrink-1 page-item {% if page_obj.number == i %} active {% endif %}">
            <a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {% endfor %}
            
            {% if page_obj.has_next %}
            <li class="flex-shrink-0 flex-md-shrink-1 page-item active"><a class="page-link"
                href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
            
            </ul>
            </nav>
            {% comment %} <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div> {% endcomment %}
        <div class="fw-normal small mt-4 mt-lg-0">Showing <b>{{page_obj.number}}</b> out of <b>{{ page_obj.paginator.num_pages}}</b> entries</div>
    </div>
    {% endif %}
        
</div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}