{% extends 'frontend/base/base.html' %}


{% block title %}
newtonbookshop | Email address verification
{% endblock title %}



{% block header %}
{% include 'frontend/components/header.html' %}
{% endblock header %}


{% block content %}
<br>
<div class="col-lg-4 col-md-6 col-sm-6 shadow mb-8 mt-6" style="margin: 0 auto;">


    <div class="u-header-sidebar__footer-offset">
        <!-- Toggle Button -->
        <!-- Content -->
        <div class="">
            <div class="u-sidebar__content u-header-sidebar__content">
                <form class="">
                    <!-- Login -->
                    <div id="login" data-target-group="idForm">


                        {% if account_verify  == True %}
                        <div class="p-4 p-md-6">

                            <div class="text-center activate-account">
                                <img src="{{ASSETS_ROUTE}}/static/assets/img/error/success2.png" class="mb-4"
                                    alt="success">



                                <h4 class="">Congratution ! </h4>
                                <p>Your email address has been confirmed successfuly. You may now login</p>
                            </div>


                            <div class="mb-4d75 text-center">
                                <a href="{% url 'login' %}" class="btn btn-block py-3 rounded-0 btn-dark"> Login</a>
                            </div>

                        </div>

                        {% endif %}

                        {% if account_invalide == True %}
                        <div class="p-4 p-md-6">

                            <div class="text-center activate-account">
                                <img src="{{ASSETS_ROUTE}}/static/assets/img/error/failed.png" class="mb-4"
                                    alt="success">


                                <h4 class="">Email verification failed ! </h4>

                                <p>It seems like this activation link sent to your email address is expired or
                                    invalide. </p>
                            </div>


                            <div class="mb-4d75 text-center">
                                <a href="{% url 'login' %}" class="btn btn-block py-3 rounded-0 btn-dark"> Login</a>
                            </div>



                        </div>
                        {% endif %}


                        {% if account_already_verify == True %}
                        <div class="p-4 p-md-6">

                            <div class="text-center activate-account">
                                <img src="{{ASSETS_ROUTE}}/static/assets/img/error/completed.png" class="mb-4"
                                    alt="success">

                                <h4 class="">Email verification ! </h4>

                                <p>Oops ! It seems this email address is already confirmed. You may now Login
                                </p>
                            </div>


                            <div class="mb-4d75 text-center">
                                <a href="{% url 'login' %}" class="btn btn-block py-3 rounded-0 btn-dark"> Login</a>
                            </div>



                        </div>
                        {% endif %}

                    </div>


                </form>
            </div>
        </div>
        <!-- End Content -->
    </div>

</div>

{% endblock content %}



{% block javascripts %}

{% endblock javascripts %}