{% extends 'frontend/base/base.html' %}


{% block title %}
Newtonbookshop | FAQ
{% endblock title %}



{% block header %}
{% include 'frontend/components/header.html' %}
{% endblock header %}

{% block stylesheets %}
<link type="text/css" href="{{ ASSETS_ROOT }}/static/cpanel/assets/css/custom.css" rel="stylesheet">
{% endblock stylesheets %}






{% block content %}



{% endblock content %}



{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js" type="text/javascript"></script>
<script src="{{ASSETS_ROOT}}/static/assets/js/bookdetails.js"></script>
{% endblock javascripts %}


