{% extends 'frontend/base/base.html' %}
{% load poll_extras %}
{% load static %}

{% block title %}
Newtonbookshop | Terms & Conditions
{% endblock title %}



{% block header %}
{% include 'frontend/components/header.html' %}
{% endblock header %}


{% block stylesheets %}
<link type="text/css" href="{{ ASSETS_ROOT }}/static/cpanel/assets/css/custom.css" rel="stylesheet">


{% endblock stylesheets %}



{% block content %}

<div class="plaint_tt">



    <section class="">
        <h1>Terms & Conditions </h1>
        <h2>Welcome to newtonbookshop.com! </h2>
        <p> These phrases and situations define the policies and rules for the usage of Newton Books` Website, located
            at <span class="highlight">https://www.newtonbookshop.com</span>. </p>
        <p>By getting access to this internet site, We hope you receive those phrases and situations. Do now no longer
            hold or apply to newtonbookshop.com in case you do now no longer conform to take all the phrases and
            situations laid out on this web page. </p>
        <p>The following terminology applies to those Terms and Conditions, Privacy Statement and Disclaimer Notice, and
            all Agreements: "Client", "You" and "Your" refers to you, the individual that logs directly to this internet
            site and is compliant with the Company's phrases and situations. "The Company", "Ourselves", "We", "Our" and
            "Us", refers to our Company Newton Books. "Party", "Parties", or "Us", refers to each of the Client and
            ourselves. All phrases allude to provide, acceptance, and attention of price important to adopt the manner
            of our help to the Client withinside the maximum suitable way for the explicit cause of assembly the
            Client's wishes in recognize of the availability of the Company's said offerings, with the aid of using and
            challenge to, winning regulation of Ghana. Any use of the above terminology or different phrases withinside
            the singular, plural, capitalization, and/or he/she or they, are taken as interchangeable and consequently
            as relating to the identical. </p>
        <h2>Cookies</h2>
        <p>We hire the usage of cookies. By getting access to newtonbookshop.com, you agreed to apply cookies in
            settlement with Newton Books' <a href="{% url 'privacy' %}">Privacy Policy</a>.

        </p>
        <p>Most interactive websites use cookies to retrieve the user's information for every goto and ours isn't any
            different. Cookies are utilized by our internet site to permit the capability of sure regions of the
            internet site to make it less difficult for human beings visiting. Some of our affiliate/marketing and
            marketing companions may additionally use cookies. </p>

        <h2>License
        </h2>
        <p>
            Unless in any other case said, Newton Books and/or its licensors very own the highbrow belongings rights to
            all fabric on newtonbookshop.com. All highbrow belongings rights are reserved. You might also additionally
            get admission to this from newtonbookshop.com on your private use challenge to regulations set in those
            phrases and situations. </p>
        <p>You have to now no longer:
        </p>

        <ul>
            <li>Republish information from newtonbookshop.com</li>
            <li>Sell, rent, or sub-license fabric from newtonbookshop.com </li>
            <li>Reproduce, replica, or reproduction fabric from newtonbookshop.com </li>
            <li>Redistribute content material from newtonbookshop.com </li>
        </ul>
        <p>This Agreement shall start at the date hereof. Our Terms and Conditions have been created with the assistance
            of the Terms And Conditions Generator and the Privacy Policy Generator.
        </p>
        <p>Parts of this internet site provide a possibility for customers to publish and alternate evaluations and
            records in sure regions of the internet site. Newton Books does now no longer filter, edit, put up or
            overview Comments earlier than their presence on the internet site. Comments do now no longer mirror the
            perspectives and evaluations of Newton Books, its agents, and/or affiliates. Comments mirror the
            perspectives and evaluations of the individual that posts their perspectives and evaluations. To the
            quantity accepted with the aid of using relevant laws, Newton Books shall now no longer be accountable for
            the Comments or any legal responsibility, damages, or charges triggered and/or suffered because of any use
            of and/or posting of and/or look of the Comments in this internet site. </p>
        <p>Newton Books reserves the proper to display all Comments and to dispose of any Comments which may be taken
            into consideration inappropriate, offensive, or reasons a breach of those Terms and Conditions.</p>

        <p>You warrant and constitute that:
        </p>
        <ul>
            <li>You are entitled to publish the Comments on our internet site and feature all-important licenses and see
                eye to eye to do so; </li>
            <li>The Comments do now no longer invade any highbrow belongings proper, such as without drawback copyright,
                patent, or trademark of any third party; </li>
            <li>The Comments do now no longer comprise any defamatory, libelous, offensive, indecent, or in any other
                case illegal fabric that's an invasion of privacy</li>
            <li>The Comments will now no longer be used to solicit or sell enterprise or custom or gift business sports
                or illegal activity. </li>
        </ul>
        <p>You hereby provide Newton Books a non-exceptional license to apply, reproduce, edit and authorize others to
            apply, reproduce and edit any of your Comments in any forms, formats, or media.</p>
        <p><b>Hyperlinking to our Content </b>
            The following groups might also additionally hyperlink to our Website without previous written approval:
        </p>
        <ul>
            <li>Government agencies;</li>
            <li>Search engines; </li>
            <li>Newsgroups; </li>
            <li>Online listing vendors might also additionally hyperlink to our Website withinside the identical way as
                they link to the Websites of different indexed businesses; and </li>
            <li>System-huge Accredited Businesses besides soliciting non-income groups, charity buying malls, and
                charity fundraising companies which might not link to our Web page. </li>
        </ul>
        <p>These groups might also additionally hyperlink to our front web page, to publications, or different Website
            records as long as the hyperlink: (a) isn't in any manner deceptive; (b) does now no longer falsely suggest
            sponsorship, endorsement, or approval of the linking celebration and its merchandise and/or offerings; and
            (c) suits withinside the context of the linking parties web page.</p>
        <p>We might also additionally recall and approve different hyperlink requests from these other groups types:
        </p>

        <ul>
            <li>Commonly-recognized customer and/or enterprise records sources; </li>
            <li>Dot.com network sites; </li>
            <li>Institutions or different companies representing charities;</li>
            <li>Online listing vendors; </li>
            <li>Net portals;</li>
            <li>Accounting, regulation, and consulting firms; and </li>
            <li>Academic establishments and alternate institutions</li>
        </ul>
        <p>We will approve hyperlink requests from those groups if we determine that: (a) the hyperlink might now no
            longer make us appear unfavorably to ourselves or our authorized businesses; (b) the company does now no
            longer have any terrible information with us; (c) the advantage to us from the visibility of the link
            compensates the absence of Newton Books, and (d) the hyperlink is withinside the context of standard useful
            resource records. </p>
        <p>These groups might also additionally hyperlink to our front web page as long as the hyperlink: (a) isn't in
            any manner deceptive; (b) does now no longer falsely suggest sponsorship, endorsement, or approval of the
            linking parties and its merchandise or offerings; and (c) suits within the context of the linking parties
            web page. </p>
        <p>If you're one of the groups indexed in paragraph 2 above and are inquisitive about linking to our internet
            site, you have to tell us via electronic communication at newtonbookshops@gmail.com. Consist of your name,
            your company name, and speak to records in addition to the URL of your web page, a listing of any URLs from
            that you intend to hyperlink to our Website, and a listing of the URLs on our web page to that you would
            love to hyperlink. Wait 1-2 weeks for a response. </p>
        <p>Approved groups might also additionally link to our Website as follows: </p>
        <ul>
            <li>By use of our company name; or </li>
            <li>By use of the uniform useful resource locator being connected to; or</li>
            <li>By use of some other description of our web page being connected to that is in coherence and layout of
                the content material at the linking party’s web page.</li>
        </ul>
        <p>No use of Newton Books' brand or different paintings could be allowed for linking absent a hallmark license
            settlement.
        </p>

        <h2>iFrames</h2>
        <p>Without previous approval and written permission, you could now no longer create frames around our Webpages
            that adjust in any manner the visible presentation or look of our Website.
        </p>
        <h2>Content Liability
        </h2>
        <p>We shall now no longer be held accountable for any content material that looks to your Website. You conform
            to shield and shield us in opposition to all claims which might be growing to your Website. No hyperlink(s)
            need to seem on any Website that can be interpreted as libelous, obscene, or criminal, or which infringes,
            in any other case violates, or advocates the infringement or different violation of, any third party rights.
        </p>
        <h2>Your Privacy
        </h2>
        <p>Please study <a href="{% url 'privacy'%}">Privacy Policy</a>
        </p>
        <h2>Reservation of Rights
        </h2>
        <p>We reserve the prerogative to request that you dispose of all hyperlinks or any specific hyperlink to our
            Website. You agreed to without delay disposes of all hyperlinks to our Website upon request. We additionally
            reserve the prerogative to amend those phrases and situations and their linking coverage at any time. By
            constantly linking to our Website, you compromise to be certain and comply with those linking phrases and
            situations. </p>
        <p>Removal of hyperlinks from our internet site
        </p>
        <p>
            If you locate any hyperlink on our Website and it is offensive for any reason, you're loose to get in touch
            and tell us at any moment. We will recall requests to dispose of hyperlinks, however, we aren't obligated to
            or so or to reply to you directly.</p>
        <p>We do now no longer make certain that the records in this internet site are correct, we do now no longer
            warrant its completeness or accuracy; nor will we promise to make certain that the internet site stays to be
            had or that the information at the internet site is saved as much as to date. </p>
        <h2>Disclaimer
        </h2>
        <p>To the most quantity accepted with the aid of using relevant regulation, we exclude all representations,
            warranties, and situations referring to our internet site and the usage of this internet site. Nothing on
            this disclaimer will: </p>
        <ul>
            <li>Restrict or exclude our or your legal responsibility for loss of life or private injury; </li>
            <li>Restrict or exclude our or your legal responsibility for fraud or fraudulent misrepresentation; </li>
            <li>Restrict any of our or your liabilities in any manner that isn't accepted below relevant regulation; or
            </li>
            <li>Exclude any of our or your liabilities that might not be excluded below relevant regulation.</li>
        </ul>
        <p>The restrictions and prohibitions of legal responsibility set on this Section and someplace else on this
            disclaimer: (a) are susceptible to the previous paragraph; and (b) govern all liabilities bobbing up below
            the disclaimer, such as liabilities bobbing up in contract, in tort, and for breach of statutory duty.</p>
        <p>During the whole time that the internet site and the records and offerings at the internet site are serve
            free, we can now no longer be accountable for any loss or harm of any nature.</p>


    </section>

</div>

{% endblock content %}