{% extends 'frontend/base/base.html' %}


{% block title %}
Newtonbookshop | Track order
{% endblock title %}



{% block header %}
{% include 'frontend/components/header.html' %}
{% endblock header %}

{% block stylesheets %}
<link type="text/css" href="{{ ASSETS_ROOT }}/static/cpanel/assets/css/custom.css" rel="stylesheet">
{% endblock stylesheets %}


{% block content %}
<div class="mt-10">

</div>

<div class="package-tracking">

   
   {% if messages %}
   <div class="error-content-tracking"> 
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error !!</h4>
        
        {% for message in messages %}
        <p>{{message}} <a href="{% url 'trackorder' %}"> Try again</a> </p>
            
        {% endfor %}
            
        <hr>
        <p class="mb-0">If you have any questions or need assistance, please contact us <b>{{general_settings.default_email}}</b>. </p>
      </div>
      <br>      <br>
      <br>
      <br>

</div>
    {% else %}

    <h2>Track Your Package</h2> <br>
    
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-row justify-content-center">
 
 
            <div class="col-md-5 mb-3 mb-md-2">
                <div class="js-form-message">
 
                    <div class="input-group">
                        <input type="number" class="form-control px-5 height-60 border-dark" name="tracking-number"
                            placeholder="Enter order number or tracking number" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 ml-md-2">
                <button type="submit" class="btn btn-dark rounded-0 btn-wide py-3 font-weight-medium ">Track package
                </button>
            </div>
        </div>
    </form>
   {% endif %}
    
    
</div>


{% endblock content %}




{% block javascripts %}
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"
    type="text/javascript"></script>
<script src="{{ASSETS_ROOT}}/static/assets/js/bookdetails.js"></script> {% endcomment %}
{% endblock javascripts %}