{% extends 'frontend/base/base.html' %}


{% block title %}
newtonbookshop | Verify your email address
{% endblock title %}



{% block header %}
{% include 'frontend/components/header.html' %}
{% endblock header %}


{% block content %}


<br>
<div class="col-lg-4 col-md-6 col-sm-6  border mb-8 mt-6" style="margin: 0 auto;">


    <div class="u-header-sidebar__footer-offset">
        <!-- Toggle Button -->
        <!-- Content -->
        <div class="">
            <div class="u-sidebar__content u-header-sidebar__content">
                <form class="" method="post" action="{% url 'verify_email' %}">
                    <!-- Login -->
                    {% csrf_token %}
                    <div id="login" data-target-group="idForm">


                        <div class="p-4 p-md-6">

                            <div class="text-center activate-account">
                                <img src="{{ASSETS_ROUTE}}/static/assets/img/error/email.png" class="mb-4"
                                    alt="success">



                                <h4 class="">Confirm your email </h4>
                                <hr>

                                {% if messages %}
                                {% for message in messages %}
                                <p>{{message}}</p>
                                {% endfor %}

                                {% elif request.user.email %}
                              
                                <p> Your account is not verify , we kindly request that you confirm your email address to continue.</p>
                                {% comment %} {% else %}
                                <p>In order to have have access to the platform you need to confirm your email address
                                </p>{{request.user}} {% endcomment %}
                                {% endif %}



                                <a href="{% url 'change_email' %}" class="text-center m-2 text-info">Change Email</a>
                                <hr class="text-center m-2 w-60">



                            </div>




                            <div class="mb-4d75 text-center">
                                <button type="submit" class="btn btn-block py-3 rounded-0 btn-dark">Resend
                                    verification email</button>

                            </div>

                        </div>




                    </div>


                </form>
            </div>
        </div>
        <!-- End Content -->
    </div>

</div>


{% endblock content %}



{% block javascripts %}

{% endblock javascripts %}