.django_messages_error {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1%;
    margin-top: 10vh;
    z-index: 90;
    width: 30%;

}

.django_messages_error .alert {
    text-align: left !important;
}


.preview_book {
    height: 320px;
    width: 100%;
    background-color: white;
    padding: 5px;
    border: 1px solid lightgray;

}

.preview_book img {
    height: 100%;
    width: 280px !important;
    background-position: center;
    background-size: cover;
}


.preview_details ul {
    padding: 0px;
    padding-left: 4px;
    list-style: none;
}

.preview_details ul li {
    font-size: 15px;
    line-height: 2em;
}

.preview_book ul li strong {
    font-weight: bolder;
    color: black;

}

.img-thumbnail-shop-newtonbookshop img {
    max-width: 120px !important;
    height: 183px !important;
    /* width: 130px !important;
    height: 200px !important; */
    /* width :150 */
    /* height: 220px */
}

.onsale {
    position: absolute;
    z-index: 99;
    padding: 5px !important;
}

.categories {
    padding: 8px;
    margin: 5px;
    border: 1px solid lightgrey;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
}

.categories a {
    color: black;
}

.shop-details-view-newtonbookshop img {
    width: 320px !important;
    height: 489px !important;
}

.booktype_active {
    border: 1px solid black !important;
    /* background-color: lightgrey !important; */
}

.booktypeshop {
    padding: 10px;
    cursor: pointer;
}

.booktypeshop:hover {
    border: 1px solid black !important;
}

.preload-image-bookstrap .ccs_child {
    /* background-color: red !important;
    z-index: 299; */
    text-align: center;
    padding-top: 50%;
    /* background-image: image("/static/assets/img/loader/loading.gif"); */
}

.preload-image-bookstrap .preloader-newtonbookshop {

    display: none;
}

#modal-dialog {
    max-width: 572px !important;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


/* product detials */
.rating-list li {
    float: right;
    color: #ddd;
    padding: 10px 5px;
}

.rating-list li:hover,
.rating-list li:hover~li {
    color: #ffd700;
}

.rating-list {
    display: inline-block;
    list-style: none;
}

.list-inline {
    margin-top: unset;
}

.stars_gray {
    color: lightgray !important;
}

.stars_yellow {
    color: #ffbd00 !important;
}

.average_review_icone {
    color: lightgray !important;
}

.share_social_media {
    background-color: white;
    /* position: absolute; */
    /* margin-top: 35px; */
    /* margin-left: 150px; */
    border: 1px solid lightgray;
    z-index: 299;
    margin-left: -25px;
    margin-top: -10px;
    display: none;
}

/* .social_content {
    padding-left: 10px;
    padding-right: 10px;
} */

.social_content ul {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: inline-block;
}

.social_content ul li {
    display: inline-block;
    padding-left: 10px;

}

.social_content ul li a img:hover {
    opacity: 0.5;
}

.blog-index- a img {
    width: 440px !important;
    height: 240px !important;
}

.blog-index- .text-img {
    width: 40% !important;
}

.blog-details-image {
    width: 100%;
    height: 500px !important;
    background-size: contain;
}

/* Loader  */
.bookloader {
    /* border: 1px solid lightgray; */
}

.active_side_bar {
    color: black;
    background-color: #f75454 !important;
    border-bottom: 1px solid lightgray;
}

.bookloader .item {
    /* border: 1px solid lightgray; */
    width: 310px;
    height: 458px;
    display: inline-block;

}

.bookloader .item .top {
    /* height: 50%; */
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    text-align: -moz-center;

}

.bookloader .item .top .image {
    width: 150px !important;
    height: 220px !important;
    animation: loader 2s infinite ease-in-out;
    -webkit-animation: loader 1s infinite ease-in-out;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);

}

.bookloader .item .down .booktype {
    width: 40%;
    height: 15px;
    animation: loader 2s infinite ease-in-out;
    -webkit-animation: loader 1s infinite ease-in-out;
    /* background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%); */


}

.bookloader .item .down {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.bookloader .item .down .title1,
.title2 {
    width: 100%;
    height: 15px;
    margin-bottom: 4px !important;
    animation: loader 2s infinite ease-in-out;
    -webkit-animation: loader 1s infinite ease-in-out;
    /* background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%); */


}

.bookloader .item .down .author {
    width: 40%;
    height: 15px;
    animation: loader 2s infinite ease-in-out;
    -webkit-animation: loader 1s infinite ease-in-out;
    /* background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%); */

}

.bookloader .item .down .price {
    width: 40%;
    height: 15px;
    margin-top: 5px;
    animation: loader 2s infinite ease-in-out;
    -webkit-animation: loader 1s infinite ease-in-out;
    /* background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%); */

}

.headerSvg {
    display: none;
}

.author img:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.author img {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    border-radius: 555px;
    height: 200px;
    width: 200px;
    border: 1px solid lightgray;
}



.bookfinder .search_bar:focus {
    border: none;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;

}

.finder_list_view {
    padding: 0px;
    list-style: none;

}

.seache_book_by_title_result {
    position: absolute;
    top: 0;
    border: 1px solid white;
    width: 425px;
    z-index: 99;
    margin-top: 65px;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f6f5f3;
    padding-left: 20px;
    border-radius: 2px;
    display: none;
    overflow: auto;

}

.seach_result_display {
    color: #333;
    /* font-style: italic; */
    font-weight: normal;
    padding-top: 5px;
}

.seach_result_display:hover {
    color: #000;
    font-weight: bolder;
}

.finder_list_view li {}

.book-form-view-edit input,
.book-form-view-edit select,
.book-form-view-edit textarea {
    color: black;

}

.book-form-view-edit label {
    color: gray !important;
}

.user_account_base {}

.user_account_base ul {
    /* width: 100%;
    padding: 0px;
    border: 1px solid lightgray;
    border-radius: 5px; */
}

.user_account_base ul li {
    /* border-bottom: 1px solid lightgray; */
    /* border-width: 80%;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 3em; */
}

.user_account_base ul li a {
    font-size: 18px;
}

.user_account_base ul hr {
    margin-bottom: 10px;
    margin-top: 10px;
}

@keyframes loader {
    0% {
        background-color: rgba(165, 165, 165, 0.1);
    }

    50% {
        background-color: rgba(165, 165, 165, 0.3);
    }

    100% {
        background-color: rgba(165, 165, 165, 0.1);
    }
}

@-webkit-keyframes loader {
    0% {
        background-color: rgba(165, 165, 165, 0.1);
    }

    50% {
        background-color: rgba(165, 165, 165, 0.3);
    }

    100% {
        background-color: rgba(165, 165, 165, 0.1);
    }
}

.order-account-details ul {
    list-style: none;
    padding: 0px;
}

.security_settings ul li {
    cursor: pointer;
}

.security_settings ul li:hover {
    background-color: #f7f7f7;
}

.order-account-details ul li {
    font-size: 14px;
}

.book-details-debut .nav {
    padding: 10px;
    border-right: 1px solid lightgray;
}

.book-details-debut .tab-content {
    padding-left: 0px;
    padding-top: 10px;
}

.book-details-sh {
    margin-bottom: 10px;
    border: none;
    background-color: white;
    text-align: left;
}

.background-images-style {
    height: 650px;
    width: 100%;
}

.plaint_tt {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
}

.plaint_tt .toc ol {
    /* list-style: decimal !important; */
    padding-left: 20px;
    /* list-style: none !important; */
}

.plaint_tt .toc li::before {
    content: none !important;
}

.plaint_tt .toc ol li {
    list-style-type: decimal !important;
}

/* .plaint_tt table tr {
    border: 1px solid lightgray;
    text-align: left;
    padding: 5px;
} */


.plaint_tt table td,
.plaint_tt table th {
    border: 1px solid lightgray !important;
    padding: 5px;
}

.plaint_tt .ulm li {
    padding-left: 45px !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.plaint_tt .toc {
    margin-bottom: 20px;
}

.plaint_tt .toc h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.plaint_tt h3 {
    font-size: 20px;
    margin-top: 10px;
}

.success-message {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    /* border-radius: 4px; */
    color: #3c763d;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-icone-i {
    font-size: 58px;
    color: #3c763d;
    margin-right: 20px;
}

.plaint_tt .toc ul,
.plaint_tt .toc ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plaint_tt .toc li {
    margin-bottom: 5px;
}

.plaint_tt .toc a {
    color: #000;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.plaint_tt .toc a:hover {
    color: #666;
}


.plaint_tt h1 {
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.plaint_tt section {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.plaint_tt h2 {
    font-size: 24px;
    margin-top: 30px;
}

.plaint_tt p {
    margin-top: 10px;
}

.plaint_tt ul,
.plaint_tt ol {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    padding-left: 0;
}

.plaint_tt li:before {
    content: "\2022";
    margin-right: 5px;
}

.plaint_tt .highlight {
    color: #c00;
    font-weight: bold;
}

.seache_found_one_ {
    max-width: 300px !important;
}

.seache_found_one_ .product_seach_found_on {
    background-color: #ffffff !important;
}

.woocommerce-loop-product__thumbnail {
    /* background-image: url("/static/assets/img/placeholder.gif");
    background-repeat: no-repeat;
    background-position: center; */

    /* background-color: lightgray; */
    /* background-size: cover;
    background-position: center;
    background-color: #ccc; */
    /* background-color: #ddd;
    background-image: linear-gradient(45deg, #f9f9f9 25%, transparent 25%, transparent 75%, #f9f9f9 75%, #f9f9f9), linear-gradient(45deg, #f9f9f9 25%, #ccc 25%, #ccc 75%, #f9f9f9 75%, #f9f9f9);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px; */
    /* background-color: #f9f9f9;
    background-image: none;
    position: relative; */
}

.image-placeholder::before {
    content: "NB";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: bold;
    color: #ddd;
}

.mobile-view {
    display: none;
}

@media screen and (max-width: 1200px) {
    .headerSvg {
        display: block;
    }

    .mobile-view {
        display: inline-block;
    }

    .cart_mobile_update_table {
        display: none;
    }


    .mobile_view_size a {
        color: gray;
        font-size: 13px;
    }

}

@media screen and (max-width:800px) {
    .cart_pop_up_mobile {
        margin-top: -30vh !important;
    }

    .cart_pop_up {
        padding: 5%;
    }

    .shop-control-bar__right {
        display: inline-flex;
    }

    .page-header-mobile {
        margin-bottom: 0px !important;
    }

    .seache_book_by_title_result {
        width: 100% !important;
        left: 0;
        margin-top: 100px;

    }
}


@media screen and (max-width: 600px) {

    .django_messages_error {
        width: 90% !important;
        margin-top: 1vh;
        margin-right: 5%;
        margin-left: 5%;
    }

    .showing_page {
        display: none;
    }





    .bookloader .three,
    .bookloader .four,
    .bookloader .five {
        display: none;
    }

    .book_format_on_change {
        width: 85% !important;
    }
}