.django_messages_error {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1%;
    margin-top: 10vh;
    z-index: 90;
    width: 30%;

}

.django_messages_error .alert {
    text-align: left !important;
}


.preview_book {
    height: 320px;
    width: 100%;
    background-color: white;
    padding: 5px;
    border: 1px solid lightgray;

}

.preview_book img {
    height: 100%;
    width: 280px !important;
    background-position: center;
    background-size: cover;
}


.preview_details ul {
    padding: 0px;
    padding-left: 4px;
    list-style: none;
}

.preview_details ul li {
    font-size: 15px;
    line-height: 2em;
}

.preview_book ul li strong {
    font-weight: bolder;
    color: black;

}

.img-thumbnail-shop-newtonbookshop img {
    width: 120px !important;
    height: 183px !important;
    /* width: 130px !important;
    height: 200px !important; */
    /* width :150 */
    /* height: 220px */
}

.onsale {
    position: absolute;
    z-index: 99;
    padding: 5px !important;
}

.categories {
    padding: 8px;
    margin: 5px;
    border: 1px solid lightgrey;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
}

.categories a {
    color: black;
}

.shop-details-view-newtonbookshop img {
    width: 320px !important;
    height: 489px !important;
}

.booktype_active {
    border: 1px solid black !important;
    /* background-color: lightgrey !important; */
}

.booktypeshop {
    padding: 10px;
    cursor: pointer;
}

.booktypeshop:hover {
    border: 1px solid black !important;
}

.preload-image-bookstrap .ccs_child {
    /* background-color: red !important;
    z-index: 299; */
    text-align: center;
    padding-top: 50%;
    /* background-image: image("/static/assets/img/loader/loading.gif"); */
}

.preload-image-bookstrap .preloader-newtonbookshop {

    display: none;
}

#modal-dialog {
    max-width: 572px !important;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


/* product detials */
.rating-list li {
    float: right;
    color: #ddd;
    padding: 10px 5px;
}

.rating-list li:hover,
.rating-list li:hover~li {
    color: #ffd700;
}

.rating-list {
    display: inline-block;
    list-style: none;
}

.list-inline {
    margin-top: unset;
}

.stars_gray {
    color: lightgray !important;
}

.stars_yellow {
    color: #ffbd00 !important;
}

.average_review_icone {
    color: lightgray !important;
}

.share_social_media {
    background-color: white;
    /* position: absolute; */
    /* margin-top: 35px; */
    /* margin-left: 150px; */
    border: 1px solid lightgray;
    z-index: 299;
    margin-left: -25px;
    margin-top: -10px;
    display: none;
}

/* .social_content {
    padding-left: 10px;
    padding-right: 10px;
} */

.social_content ul {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: inline-block;
}

.social_content ul li {
    display: inline-block;
    padding-left: 10px;

}

.social_content ul li a img:hover {
    opacity: 0.5;
}

.blog-index- a img {
    width: 440px !important;
    height: 240px !important;
}

.blog-index- .text-img {
    width: 40% !important;
}

.blog-details-image {
    width: 100%;
    height: 500px !important;
    background-size: contain;
}

/* Loader  */
.bookloader {
    /* border: 1px solid lightgray; */
}

.active_side_bar {
    color: black;
    background-color: #f75454 !important;
    border-bottom: 1px solid lightgray;
}

.bookloader .item {
    /* border: 1px solid lightgray; */
    width: 310px;
    height: 458px;
    display: inline-block;

}

.bookloader .item .top {
    /* height: 50%; */
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    text-align: -moz-center;

}

.bookloader .item .top .image {
    width: 150px !important;
    height: 220px !important;
    animation: loader 2s infinite ease-in-out;
    -webkit-animation: loader 1s infinite ease-in-out;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);

}

.bookloader .item .down .booktype {
    width: 40%;
    height: 15px;
    animation: loader 2s infinite ease-in-out;
    -webkit-animation: loader 1s infinite ease-in-out;
    /* background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%); */


}

.bookloader .item .down {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.bookloader .item .down .title1,
.title2 {
    width: 100%;
    height: 15px;
    margin-bottom: 4px !important;
    animation: loader 2s infinite ease-in-out;
    -webkit-animation: loader 1s infinite ease-in-out;
    /* background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%); */


}

.bookloader .item .down .author {
    width: 40%;
    height: 15px;
    animation: loader 2s infinite ease-in-out;
    -webkit-animation: loader 1s infinite ease-in-out;
    /* background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%); */

}

.bookloader .item .down .price {
    width: 40%;
    height: 15px;
    margin-top: 5px;
    animation: loader 2s infinite ease-in-out;
    -webkit-animation: loader 1s infinite ease-in-out;
    /* background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%); */

}

.headerSvg {
    display: none;
}

.author img:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.author img {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    border-radius: 555px;
    height: 200px;
    width: 200px;
}



.bookfinder .search_bar:focus {
    border: none;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;

}

.finder_list_view {
    padding: 0px;
    list-style: none;

}

.finder_list_view li {}

.book-form-view-edit input,
.book-form-view-edit select,
.book-form-view-edit textarea {
    color: black;

}

.book-form-view-edit label {
    color: gray !important;
}

.user_account_base {}

.user_account_base ul {
    /* width: 100%;
    padding: 0px;
    border: 1px solid lightgray;
    border-radius: 5px; */
}

.user_account_base ul li {
    /* border-bottom: 1px solid lightgray; */
    /* border-width: 80%;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 3em; */
}

.user_account_base ul li a {
    font-size: 18px;
}

.user_account_base ul hr {
    margin-bottom: 10px;
    margin-top: 10px;
}

@keyframes loader {
    0% {
        background-color: rgba(165, 165, 165, 0.1);
    }

    50% {
        background-color: rgba(165, 165, 165, 0.3);
    }

    100% {
        background-color: rgba(165, 165, 165, 0.1);
    }
}

@-webkit-keyframes loader {
    0% {
        background-color: rgba(165, 165, 165, 0.1);
    }

    50% {
        background-color: rgba(165, 165, 165, 0.3);
    }

    100% {
        background-color: rgba(165, 165, 165, 0.1);
    }
}

.order-account-details ul {
    list-style: none;
    padding: 0px;
}

.security_settings ul li {
    cursor: pointer;
}

.security_settings ul li:hover {
    background-color: #f7f7f7;
}

.order-account-details ul li {
    font-size: 14px;
}

@media screen and (max-width: 1200px) {
    .headerSvg {
        display: block;
    }
}


@media screen and (max-width: 600px) {
    .django_messages_error {
        width: 90% !important;
        margin-top: 1vh;
        margin-right: 5%;
        margin-left: 5%;
    }



    .bookloader .three,
    .bookloader .four,
    .bookloader .five {
        display: none;
    }
}