<div class="">
    <div class="bookloader">
        <div class="d-flex justify-content-center align-item-center">




            <div class="item show-sm">
                <div class="top">
                    <p class="image"></p>
                </div>
                <div class="down">
                    <h4 class="booktype"></h4>
                    <p class="title1"></p>
                    <p class="title2"></p>
                    <p class="author"></p>

                    <p class="price"></p>
                </div>
            </div>

            <div class="item show-sm">
                <div class="top">
                    <p class="image"></p>
                </div>
                <div class="down">
                    <h4 class="booktype"></h4>
                    <p class="title1"></p>
                    <p class="title2"></p>
                    <p class="author"></p>

                    <p class="price"></p>
                </div>
            </div>

            <div class="item show-sm">
                <div class="top">
                    <p class="image"></p>
                </div>
                <div class="down">
                    <h4 class="booktype"></h4>
                    <p class="title1"></p>
                    <p class="title2"></p>
                    <p class="author"></p>

                    <p class="price"></p>
                </div>
            </div>

            <div class="item show-sm">
                <div class="top">
                    <p class="image"></p>
                </div>
                <div class="down">
                    <h4 class="booktype"></h4>
                    <p class="title1"></p>
                    <p class="title2"></p>
                    <p class="author"></p>

                    <p class="price"></p>
                </div>
            </div>
        </div>
    </div>
</div>